.signup_form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.signup_title {
  color: #5E0000;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.signup_input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.signup_button {
  border-radius: 20px;
  border: 1px solid #5E0000;
  /* background-color: ; */
  color: #5E0000;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
}