.chart-container {
  padding-top: 10px;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
}

.detail-title {
  padding-bottom: 20px;
  color: black;
  font-weight: 1000;
  font-size: 35px;
}

.detail-subtitle {
  padding-left: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #71717a;
}