.tablecontent {
  margin-bottom: 10px;
  padding: 0 100px;
}

.MuiInputBase-root {
  background-color: white;
}

.tablecontent-inner {
  background-color: #E4B2BD;
  flex-direction: row;
  /* The inner container takes the full available width */
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 60px;
}

.datecontent {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flowercontent {
  display: flex;
  align-items: center;
}

.varietycontent {
  display: flex;
  align-items: center;;
}

.locationcontent {
  display: flex;
  align-items: center;;
}

.datetitle {
  margin-right: 10px;
  font-weight: 700;
  color: black;
}

.datepicker {
  width: 145px;
}

.varietytitle {
  font-weight: 700;
  color: black;
  margin-right: 10px;
}

.varietyinput {
  text-align: center;
}

.flowertitle {
  font-weight: 700;
  color: black;
  margin: 0 10px;
}

.flowerinput {
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.locationtitle {
  font-weight: 700;
  color: black;
  margin-right: 10px;
}

.locationinput {
  margin-right: 20px;
  text-align: center;
}

.button-search {
  margin-left: 10px;
  color: red;
  margin-right: 20px;
}

@media (max-width: 1080px) {
  .flowerinput,
  .varietyinput,
  .locationinput {
    width: 100px; /* 원하는 최소 크기 */
  }
}

@media (min-width: 1081px) {
  .flowerinput,
  .varietyinput,
  .locationinput {
    width: calc(100px + 5vw); /* 최소 크기 + 화면 너비의 5% */
  }
}