<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 선택</title>
    <!-- Bootstrap CSS를 포함합니다. -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link
            rel="canonical"
            href="https://getbootstrap.com/docs/5.3/examples/dashboard/"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
    />
    <link
            href="/docs/5.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 필요한 스타일시트를 추가할 수 있습니다. -->
    <style>
        .container {
            text-align: center;
            padding: 50px;
        }

        .form-select {
            width: 100%;
        }

        .select-box {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            background-color: #f7f7f7;
            border-radius: 5px;
            padding: 15px;
        }
    </style>
    <script th:src="@{asserts/js/function.js}"></script>

</head>
<body>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="select-box">

            <select id="codeSelect" class="form-select">
                <option value="0" disabled selected>선택하세요</option>
                <option value="1">절화</option>
                <option value="2">관엽</option>
                <option value="3">난</option>
                <option value="4">춘란</option>

            </select>
            <select id="typeSelect" class="form-select">
                <option value="0" disabled selected>선택하세요</option>
            </select>

            <select id="nameSelect" class="form-select">
                <option value="0" disabled selected>선택하세요</option>
            </select>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                추가
            </button>
        </div>

    </div>

    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">새 카테고리 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 카테고리 정보 입력 폼 -->
                    <div>
                        <label for="categoryName" class="form-label">카테고리 이름</label>
                        <input type="text" class="form-control" id="categoryName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="addCategoryButton">추가</button>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Bootstrap 및 필요한 JavaScript 스크립트를 포함합니다. -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const codeSelect = document.getElementById('codeSelect');
        const typeSelect = document.getElementById('typeSelect');

        codeSelect.addEventListener('change', function () {
            const selectedCode = codeSelect.value;
            console.log(selectedCode);
            updateTypeSelect(selectedCode);
        });

        typeSelect.addEventListener('change', function () {
            const selectedType = typeSelect.value;
            console.log(selectedType);
            updateNameSelect(selectedType);
        });

        // 이전 코드 생략
        // 추가 버튼 클릭 시 모달 창 열기
        const addCategoryModal = document.getElementById('addCategoryModal');
        const addCategoryButton = document.getElementById('addCategoryButton');
        addCategoryButton.addEventListener('click', function () {
            const categoryNameInput = document.getElementById('categoryName');
            const categoryName = categoryNameInput.value;
            const selecteCode = document.getElementById('codeSelect').value;
            console.log(selecteCode);
            // 선택한 type 값 가져오기
            const selectedType = document.getElementById('typeSelect').value;
            var pId = selecteCode;
            if (selectedType !== "") {
                pId = selectedType
            }

            console.log("data" + pId);


            // 백엔드 API 호출
            const uri = '/admin-service/categories'; // 백엔드 API 경로
            const params = {
                name: categoryName,
                parentId: pId
            };

            callApi(uri, 'post', params)

            $('#addCategoryModal').modal('hide');
        });
    });


    function updateTypeSelect(selectedCode) {
        // 댓글 저장
        const uri = `/admin-service/categories/` + selectedCode;
        const params = {}
        const response = getJson(uri, params);

        const typeSelect = document.getElementById('typeSelect');
        const nameSelect = document.getElementById('nameSelect');

        typeSelect.innerHTML = '<option value="" disabled selected>선택하세요</option>'; // 기본값 추가

        nameSelect.innerHTML = ''; // "nameSelect" 초기화
        nameSelect.innerHTML = '<option value="" disabled selected>선택하세요</option>'; // 기본값 추가
        response.data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.categoryId;
            option.textContent = item.name;
            typeSelect.appendChild(option);
        });
        console.log(response);
    }

    function updateNameSelect(selectedType) {
        // 댓글 저장
        const uri = `/admin-service/categories/` + selectedType;
        const params = {}
        const response = getJson(uri, params);

        const nameSelect = document.getElementById('nameSelect');

        nameSelect.innerHTML = ''; // "nameSelect" 초기화
        nameSelect.innerHTML = '<option value="" disabled selected>선택하세요</option>'; // 기본값
        response.data.forEach(item => {
            const option = document.createElement('option');
            option.value = item.categoryId;
            option.textContent = item.name;
            nameSelect.appendChild(option);
        });
        console.log(response);
    }

</script>
</body>

<script
        src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"
></script>
<script src="dashboard.js" th:src="@{asserts/js/dashboard.js}"></script>
</body>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
</html>

