.table-units {
  color: gray;
  margin-right: 100px;
  font-size: x-small;
  position: absolute;
  top: 75px;
  right: 10px;
}

.tablecontent {
  height: 100%;
  width: 100%;
}

.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-title {
  margin-bottom: 10px;
  margin-left: 100px;
  color:black;
  font-weight: 700;
}

.custom-row-sold {
  background-color: white;
}

.MuiDataGrid-columnHeaders {
  background-color: #F25477;
  color: white;
  font-weight: bold;
}
